.wrapperDisplayResult .display {
  display: flex;
  text-align: center;
}
.wrapperDisplayResult {
  flex-direction: column;
  text-align: center;
  margin: 25px 0px;
}
.display {
  flex-direction: row;
  justify-content: space-around;
  margin: 25px 0px;
}
